In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading the dataset
df = pd.read_csv('purhchase_data.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.drop('User ID', axis='columns', inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [4]:
X = df.drop('Purchased', axis='columns')
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [5]:
y = df['Purchased']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [6]:
X = pd.get_dummies(X, drop_first=True)
X.head(5)

   Age  EstimatedSalary  Gender_Male
0   19            19000            1
1   35            20000            1
2   26            43000            0
3   27            57000            0
4   19            76000            1

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
# print(X_train)

X_test = sc.transform(X_test)
# print(X_train)

In [9]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [10]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [11]:
# Accuracy
from sklearn.metrics import accuracy_score
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.92

In [12]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
print('Confusion Matrix')
print(confusion_matrix(y_test, y_pred))

Confusion Matrix
[[64  4]
 [ 4 28]]

In [13]:
# Test Prediction
data1 = [[32, 300000, 1]] # Age->32, Salary-> 300000, Gender->1(Male)
scaled_result = sc.transform(data1)
res = classifier.predict(scaled_result)
res
if res==1:
    print('User 1 is a Purhaser')
else:
    print('User 1 is not a purchaser')


data2 = [[19, 19000, 1]] # Age->19, Salary-> 19000, Gender->0(Female)
scaled_result = sc.transform(data2)
res = classifier.predict(scaled_result)
res
if res==1:
    print('User 2 is Purhaser')
else:
    print('User 2 is not a purchaser')

User 1 is a Purhaser
User 2 is not a purchaser

In [14]:
# Save model and the scaler
import pickle
pickle.dump(classifier, open('model.pkl', 'wb'))
pickle.dump(sc, open('scaler.pkl', 'wb'))